

html {
  background-color:#27333D;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
  background-color: #F0AB3F;
}

.notification {
  background-color: hsl(208, 22%, 30%);
  background-blend-mode: lighten;
}

p {
  color: #EFEDD8;
}

h2 {
  color: #EFEDD8 !important;
}

nav {
  background-color: #F0AB3F;
}

a {
  color: #27333D;
}

a:hover {
  color: hsla(207, 22%, 20%, 0.7);
}

.good-lord {
  color: #EFEDD8 !important;
  background-color: #27333D;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

li>a.good-lord:hover {
  color: #EFEDD8 !important;
  background-color: #27333D;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

li>a:hover {
  color: #27333D !important;
  background-color: hsl(36, 57%, 50%) !important;
}
